<%- include('../partials/header') %>

<main class="main" id="main">
    <p class="publishers">Publishers: <%= data.publishers %></p>
    <% for(const key in data.releaseDates){ %>
        <p class="release"><%= key %>: <%= data.releaseDates[key] %> </p>
    <% } %> 
</main>

<%- include('../partials/footer') %> 